<p-sidebar [(visible)]="displaySidebar"
           position="right"
           [dismissible]="true"
           (onHide)="onClose()"
           styleClass="operational-sidebar">

  <div class="sidebar-header">
    New Shop
  </div>

  <div class="side-bar-container">
    <div>
      <enigma-input-component label="Name"
                              [control]="form.controls['name']"
                              type="text">
      </enigma-input-component>
      <enigma-input-component label="Image URL"
                              [control]="form.controls['imgURL']"
                              type="text">
      </enigma-input-component>

      <enigma-input-component label="description"
                              [control]="form.controls['description']"
                              type="text">
      </enigma-input-component>
      <enigma-input-component label="Product File name"
                              [control]="form.controls['productId']"
                              type="number">
      </enigma-input-component>
      <enigma-input-component label="Price"
                              [control]="form.controls['price']"
                              type="number">
      </enigma-input-component>
      <enigma-action-button-component [isDisabled]="!form.valid" label="Add"
                                      severity="success"
                                      type="primary"
                                      (trigger)="onAddProduct()"
                                      [isLoading]="isSubmitting">
      </enigma-action-button-component>
    </div>
  </div>
</p-sidebar>
