<div class="input-wrapper">
  <span class="ui-float-label">
    <input [type]="type" pInputText (keypress)="onKeypress($event.keyCode)"
           class="floating-input" [formControl]="formControl">
    <label> {{label | translate}} </label>
  </span>
  <span class="float-input-icon" *ngIf="icon">
    <i class="{{icon}} input-icon"></i>
  </span>
</div>
