.floating-input {
  width: 100%;
  border: none;
  border-bottom: 2px solid var(--primary-color);
  border-radius: 0;
  background: transparent;
  padding-right: 25px;
}

.input-wrapper {
  width: calc(100% - 30px);
  margin: 20px 15px 0;
  position: relative;
}

.input-wrapper .floating-input.ng-dirty.ng-invalid {
  border: none;
  border-bottom: 2px solid #a80000;
}

.float-input-icon {
  position: absolute;
  top: 10px;
  right: 5px;
  color: #ababab;
}
