<div class="image-slider-container">
  <div class="backdrop-area" (click)="closeSlider()">
  </div>
  <div class="images-container">
    <div class="bottom-shadow">
    </div>
    <img [src]="images[activeIndex].imgSrc">
    <div class="actions-container">
      <div class="download" (click)="downloadImage()">
        <i class="fas fa-arrow-circle-down"></i>
      </div>
      <div class="add-to-basket" (click)="addToBasket()">
        <i class="fas fa-shopping-basket"></i>
      </div>
    </div>
    <div class="close-container">
      <i class="far fa-times-circle close-icon" (click)="closeSlider()"></i>
    </div>
    <div class="arrow-container go-left"
         (click)="goLeft()">
      <i class="fas fa-caret-left"></i>
    </div>
    <div class="arrow-container go-right"
         (click)="goRight()">
      <i class="fas fa-caret-right"></i>
    </div>
  </div>
</div>
