.image-slider-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 100000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.backdrop-area {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: #00000094;
}

.images-container {
  z-index: 1;
  position: relative;
}

.images-container img {
  max-width: 600px;
}

.bottom-shadow {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: none;
  height: 100px;
  background: linear-gradient(to top, rgb(61, 61, 61), rgba(255, 255, 255, 0));
}

.images-container:hover .bottom-shadow{
  display: block;
}

.images-container:hover .actions-container {
  display: flex;
}

.images-container .close-container {
  display: block;
}

.images-container:hover .arrow-container {
  display: flex;
}

.actions-container {
  position: absolute;
  display: none;
  bottom: 10px;
  right: 20px;
  align-items: center;
  color: white;
  font-size: 1.2em;
}

.actions-container div {
  padding: 0 10px;
  cursor: pointer;
}

.close-container {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 1.5em;
  color: black;
  display: none;
  cursor: pointer;
}

.arrow-container {
  position: absolute;
  display: none;
  top: 45%;
  font-size: 2.5em;
  color: white;
  background-color: #505050;
  border-radius: 5px;
  height: 35px;
  width: 29px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.go-left {
  left: 10px;
}

.go-right {
  right: 10px;
}
