<p-sidebar [(visible)]="displaySidebar"
           position="right"
           [dismissible]="true"
           (onHide)="onClose()"
           styleClass="operational-sidebar">
  <div class="sidebar-header">
    Add Owner
  </div>

  <div class="side-bar-container">
    <form [formGroup]="form">
      <ng-container *ngIf="!isAddFromUsersActive; else existingUsers">
        <enigma-input-component label="Name"
                                [control]="form.controls['name']"
                                type="text">
        </enigma-input-component>
        <enigma-input-component label="Avatar URL"
                                type="text"
                                [control]="form.controls['imgURL']">
        </enigma-input-component>
        <enigma-input-component label="Email"
                                type="text"
                                [control]="form.controls['email']">
        </enigma-input-component>
        <enigma-input-component label="Password"
                                type="password"
                                [control]="form.controls['password']">
        </enigma-input-component>
      </ng-container>
      <ng-template #existingUsers>
        <div class="users-container">
          <div class="user-container" *ngFor="let user of users"
                                      [class.active]="user === activeUser"
                                      (click)="activateUser(user)">
            <div class="user-img">
              <img [src]="user.avatar">
            </div>
            <div class="user-name">
              {{user.name}}
            </div>
          </div>
        </div>
        <enigma-no-data-available-component *ngIf="!users || users.length === 0">
        </enigma-no-data-available-component>
      </ng-template>
      <hr>
      <enigma-input-component label="Shop Name"
                              [control]="form.controls['shopName']"
                              type="text">
      </enigma-input-component>
      <enigma-input-component label="Shop Image URL"
                              type="text"
                              [control]="form.controls['shopImgURL']">
      </enigma-input-component>
      <enigma-action-button-component (trigger)="onAddOwner()"
                                      label="Add"
                                      severity="success"
                                      type="primary"
                                      [isLoading]="isSubmitting"
                                      [isDisabled]="!form.valid">
      </enigma-action-button-component>
      <enigma-action-button-component *ngIf="users  && users.length > 0" (trigger)="onAddOwnerFromExistingUsers()"
                                      [label]="!isAddFromUsersActive ? 'Add from Users' : 'Add new Owner'"
                                      severity="success"
                                      type="primary">
      </enigma-action-button-component>
    </form>
  </div>

</p-sidebar>
