.sidebar-header {
  background-image: url("../../../assets/images/sidebar-header/sidebar-header.png");
  text-align: center;
  padding: 15px 10px;
  color: white;
  margin: -5px;
}

.side-bar-container {
  height: calc(100% - 47px);
  margin-top: 5px;
}

.users-container {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  padding: 5px;
}

.user-container {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  padding: 15px;
  cursor: pointer;
}

.user-container.active {
  background-color: #486fa742;
  box-shadow: 1px 1px 10px rgba(112, 128, 144, 0.47);
}

.user-container:hover {
  box-shadow: 1px 1px 10px rgba(112, 128, 144, 0.47);
}

.user-img {
  border-radius: 50%;
  overflow: hidden;
  width: 100px;
  height: 100px;
}

.user-img img {
  width: 100px;
}

.user-name {
  margin: 10px 0 5px;
}
