<div class="select-input">

  <div class="input-label">
    {{label | translate}}
  </div>

  <!-- if the input is part of form-->
  <ng-container *ngIf="formControl; else standAlone">
    <p-dropdown [options]="options" [formControl]="formControl"></p-dropdown>
  </ng-container>

  <!-- if the input is standing alon without form -->
  <ng-template #standAlone>
    <p-dropdown [options]="options" [(ngModel)]="selected"
                (onChange)="onChange.emit(selected)"></p-dropdown>
  </ng-template>
</div>
