.sidebar-header {
  background-image: url("../../../assets/images/sidebar-header/sidebar-header.png");
  text-align: center;
  padding: 15px 10px;
  color: white;
  margin: -5px;
}

.side-bar-container {
  height: calc(100% - 47px);
  margin-top: 5px;
}

.product-container {
  display: flex;
  padding: 10px;
  border-bottom: 1px solid gainsboro;
}

.product-img {
  width: 100px;
  height: 100px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-name {
  color: #a46969;
  font-size: 1.2em;
}

.product-info {
  padding: 0 5px;
  position: relative;
  width: calc(100% - 100px);
}

.product-description {
  font-size: .9em;
}

.price {
  position: absolute;
  top: 0;
  right: 0;
  color: #626262;
  border-radius: 50%;
  font-size: 1.3em;
  font-weight: 500;
}

.remove {
  width: fit-content;
  float: right;
  padding: 2px 6px;
  background-color: #e63c3c;
  color: white;
  border-radius: 7px;
  font-size: .9em;
  cursor: pointer;
}
