<p-sidebar [(visible)]="displaySidebar"
           position="right"
           [dismissible]="true"
           (onHide)="onClose()"
           styleClass="operational-sidebar">

  <div class="sidebar-header">
    Your Basket
  </div>

  <div class="side-bar-container">

    <div class="product-container" *ngFor="let product of basketProducts; let i = index">
      <div class="product-img">
        <img width="150" [src]="product.imgURL">
      </div>
      <div class="product-info">
        <div class="product-name">
          {{product.name}} - <span> {{product.owner}}</span>
        </div>
        <div class="description">
          {{product.description}}
        </div>
        <div class="price">
          {{product.price}}$
        </div>
        <div class="product-actions">
          <div class="remove" (click)="removeProduct(i)">
            Remove
          </div>
        </div>
      </div>
    </div>

    <enigma-no-data-available-component *ngIf="basketProducts && basketProducts.length === 0">
    </enigma-no-data-available-component>


    <div class="side-bar-actions" *ngIf="basketProducts && basketProducts.length > 0">
      <enigma-action-button-component
        label="Order Now!"
        (trigger)="onOrder()"
        [isLoading]="isLoading"
        type="primary">
      </enigma-action-button-component>
    </div>
  </div>

</p-sidebar>

<p-toast>
</p-toast>
