.floating-button-container {
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  width: 45px;
  height: 45px;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.1);
  background-color: #00b3cf;
  cursor: pointer;
}

img {
  width: 20px;
}
