<div class="wear-container">
  <canvas width="900" height="600" id='jeeFaceFilterCanvas' #canvasElement></canvas>
  <div class="screen-shot-container">
    <i class="fas fa-camera" (click)="onSaveScreenshot()"></i>
  </div>
  <div class="shot-container" *ngIf="screenshot">
    <img [src]="screenshot">
  </div>
</div>
