.screen-shot-container i {
  position: absolute;
  font-size: 3em;
  color: white;
  background-color: #545454;
  padding: 10px;
  border-radius: 50%;
  left: calc(50% - 31px);
  bottom: 12px;
  cursor: pointer;
}

.wear-container {
  position: relative;
}

.shot-container {
  position: absolute;
  top: 0;
  right: 0;
  animation: screenShot;
  animation-duration: 2s;
  border: 2px solid white;
}

.shot-container img {
  width: 100%;
  height: 100%;
}

@keyframes screenShot {
  0% {}
  10% {
    transform: scale(1.1);
  }
  20% {
    transform: scale(1);
  }
  100% {
    opacity: 0;
  }
}
