.auth-container {
  background: url("https://images.pexels.com/photos/343717/pexels-photo-343717.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940") right no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.background-fade {
  background-color: rgba(50, 145, 205, 0.45);
  position: absolute;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
}

.auth-form {
  width: 500px;
  /*height: 400px;*/
  border-radius: 5px;
  box-shadow: 0 2px 11px 0 rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  margin: 0 auto;
  text-align: center;
  padding: 20px 0;
  z-index: 100;
}

@media (max-width: 500px) {
  .auth-form {
    width: 100%;
  }
}

@media (max-height: 560px) {
  .auth-form {
    height: 100vh !important;
    display: flex;
    flex-flow: column;
    justify-content: center;
    border-radius: 0;
  }
}

@media (max-width: 450px) and (max-height: 730px){
  .auth-form {
    height: calc(100vh - 165px);
    border-radius: 0;
  }
}
