.no-data-message {
    font-size: 1.2em;
    font-weight: bold;
    margin-top: 50px;
    padding: 0 45px;
    width: 95%;
    height: 70%;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
