.shop-details-container {
  padding: 30px 50px;
}

.shop-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  font-size: 1.3em;
  padding: 10px 0;
  border-bottom: 1px solid white;
  margin-bottom: 35px;
}

.back-button{
  padding: 0 15px;
  cursor: pointer;
}

.back-section {
  display: flex;
  font-family: 'IBM Plex Sans', sans-serif;
}

.title-section {
  font-family: 'IBM Plex Sans', sans-serif;
}

.shop-products {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.floating-action {
  position: absolute;
  top: 15px;
  right: 15px;
}
