<enigma-tools-bar-component>
</enigma-tools-bar-component>

<div class="shop-details-container" [@simpleFadeAnimation]>
  <div class="shop-products" *ngIf="shop">
    <enigma-product-item-component *ngFor="let product of shop.products" [product]="product">
    </enigma-product-item-component>
  </div>
  <enigma-no-data-available-component *ngIf="shop && shop.products.length === 0">
  </enigma-no-data-available-component>

  <div class="floating-action" *ngIf="user?.role === 'admin' || canAddShop()">
    <enigma-floating-button (trigger)="onAddProduct()">
      <i class="fas fa-plus"></i>
    </enigma-floating-button>
  </div>
</div>


<ng-template enigmaSideBar>
</ng-template>
