.card__like {
  width: 18px;
}

.rating-container {
  display: flex;
  align-items: center;
}

.card:hover .rate-now-container {
  display: block;
}

.rate-now-container {
  z-index: 1000;
  display: none;
  background-color: #7979798f;
  width: fit-content;
  margin: auto;
  padding: 10px 0;
}

.card__clock {
  width: 15px;
  vertical-align: middle;
  fill: #AD7D52;
}
.card__time {
  font-size: 12px;
  color: #AD7D52;
  vertical-align: middle;
  margin-left: 5px;
}

.card__clock-info {
  float: right;
}

.card__img {
  visibility: hidden;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 235px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;

}

.card__info-hover {
  position: absolute;
  padding: 16px;
  width: 100%;
  opacity: 0;
  top: 0;
}

.card__img--hover {
  transition: 0.2s all ease-out;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  position: absolute;
  height: 235px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  top: 0;

}
.card {
  min-width: 300px;
  transition: all .4s cubic-bezier(0.175, 0.885, 0, 1);
  background-color: #fff;
  width: 90%;
  position: relative;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 13px 10px -7px rgba(0, 0, 0,0.1);
  max-width: 300px;
  margin: 10px 25px 10px 0;
}

.card-actions {
  display: none;
  position: absolute;
  transition: .1s;
  top: 33%;
  left: 5%;
  width: 90%;
  z-index: 1;
}

.action {
  padding: 10px 20px;
  border: 1px solid gray;
  background-color: #ffffff4d;
  min-width: 100px;
  text-align: center;
  margin: 0 8px;
  color: #4a4a4a;
  cursor: pointer;
}

.action:hover {
  background-color: white;
}

.card:hover .card-actions {
  display: flex;
}

.card:hover {
  box-shadow: 0px 30px 18px -8px rgba(0, 0, 0,0.1);
  transform: scale(1.10, 1.10);
}

.card__info {
  z-index: 2;
  background-color: #fff;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  padding: 16px 24px 24px 24px;
}

.card__category {
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 2px;
  font-weight: 500;
  color: #868686;
}

.card__title {
  margin-top: 5px;
  margin-bottom: 10px;
  font-family: 'Roboto Slab', serif;
}

.card__by {
  font-size: 12px;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
}

.card__author {
  font-weight: 600;
  text-decoration: none;
  color: #AD7D52;
}

.card:hover .card__img--hover {
  height: 100%;
  opacity: 0.3;
}

.card:hover .card__info {
  background-color: transparent;
  position: relative;
}

.card:hover .card__info-hover {
  opacity: 1;
}
