<article class="card card--1">
  <div class="card__info-hover">
    <div class="rating-container">
      <svg class="card__like"  viewBox="0 0 24 24">
        <path fill="#000000" d="M12.1,18.55L12,18.65L11.89,18.55C7.14,14.24 4,11.39 4,8.5C4,6.5 5.5,5 7.5,5C9.04,5 10.54,6 11.07,7.36H12.93C13.46,6 14.96,5 16.5,5C18.5,5 20,6.5 20,8.5C20,11.39 16.86,14.24 12.1,18.55M16.5,3C14.76,3 13.09,3.81 12,5.08C10.91,3.81 9.24,3 7.5,3C4.42,3 2,5.41 2,8.5C2,12.27 5.4,15.36 10.55,20.03L12,21.35L13.45,20.03C18.6,15.36 22,12.27 22,8.5C22,5.41 19.58,3 16.5,3Z" />
      </svg>
      <div class="rating">
        {{product.rating}}
      </div>
    </div>

    <div class="card__clock-info">
      <span class="card__time">{{product.price}} $</span>
    </div>

  </div>
  <div class="rate-now-container">
    <enigma-rating-component>
    </enigma-rating-component>
  </div>
  <div class="card-actions">
    <div class="try-it action" (click)="tryProduct()">
      Try It
    </div>
    <div class="add-to-basket action" (click)="addToBasket()">
      <i class="fas fa-shopping-basket"></i>
    </div>
  </div>
  <div class="card__img"></div>
  <div class="card__img--hover"
       [ngStyle]="{'background-image': 'url(' + product.imgURL + ')' }"></div>
  <div class="card__info">
    <span class="card__category"> {{product.name}}</span>
    <h3 class="card__title">{{product.description}}</h3>
    <span class="card__by">by <a href="#" class="card__author" title="author">{{product.owner}}</a></span>
  </div>
</article>
