<p-sidebar [(visible)]="displaySidebar"
           position="right"
           [dismissible]="true"
           (onHide)="onClose()"
           styleClass="operational-sidebar">

  <div class="sidebar-header">
    New Shop
  </div>

  <div class="side-bar-container">
    <div>
      <enigma-input-component label="Name"
                              [control]="addShopForm.controls['name']"
                              type="text">
      </enigma-input-component>
      <enigma-input-component label="Image URL"
                              [control]="addShopForm.controls['imgURL']"
                              type="text">
      </enigma-input-component>
      <enigma-select-input-component label="Owner"
                                     [options]="shopOwners"
                                     [control]="addShopForm.controls['owner']">
      </enigma-select-input-component>
      <enigma-action-button-component [isDisabled]="!addShopForm.valid" label="Add"
                                      severity="success"
                                      type="primary"
                                      (trigger)="onAddShop()"
                                      [isLoading]="isSubmitting">
      </enigma-action-button-component>
    </div>
  </div>
</p-sidebar>
