.sidebar-header {
  background-image: url("../../../assets/images/sidebar-header/sidebar-header.png");
  text-align: center;
  padding: 15px 10px;
  color: white;
  margin: -5px;
}

.side-bar-container {
  height: calc(100% - 47px);
  margin-top: 5px;
}
