.title-container {
  font-size: 1.5em;
  color: var(--white-background-text);
  font-family: LucidaGrande;
  font-weight: bold;
}

form {
  margin: 20px 0;
}

.primary-actions {
  width: 160px;
  height: 40px;
  margin: 0 auto;
}

.description {
  width: 70%;
  margin: 20px auto;
  text-align: left;
  color: #a7a7a7;
}

.sign-in-container {
  margin: 10px 0;
  color: #aaa7a7;
}

.sign-in {
  color: var(--white-background-clickable-text);
  font-weight: 300;
}
