<div class="enigma-animation animated fadeIn forgot-password" [@simpleFadeAnimation]="'in'">
  <div class="title-container">
    Register
  </div>

  <form *ngIf="forgotPasswordForm" [formGroup]="forgotPasswordForm">
    <enigma-classic-input-component label="AUTH.EMAIL"
                                    type="text"
                                    (enter)="submit()"
                                    [control]="forgotPasswordForm?.controls['email']">
    </enigma-classic-input-component>

    <enigma-classic-input-component label="Name"
                                    type="text"
                                    (enter)="submit()"
                                    [control]="forgotPasswordForm?.controls['name']">
    </enigma-classic-input-component>

    <enigma-classic-input-component label="AUTH.PASSWORD"
                                    type="password"
                                    (enter)="submit()"
                                    [control]="forgotPasswordForm?.controls['password']">
    </enigma-classic-input-component>

    <enigma-classic-input-component label="Image Path"
                                    type="text"
                                    (enter)="submit()"
                                    [control]="forgotPasswordForm?.controls['imgURL']">
    </enigma-classic-input-component>

    <div class="primary-actions">
      <enigma-action-button-component
        label="create"
        (trigger)="submit()"
        [isLoading]="isLoading"
        [isDisabled]="!forgotPasswordForm.valid"
        type="primary">
      </enigma-action-button-component>
    </div>

    <div class="sign-in-container">
      {{"GENERAL.OR" | translate}}
      <span class="sign-in clickable-text" (click)="openSignIn()">
        {{"ACTIONS.SIGN_IN" | translate}}
      </span>
    </div>
  </form>
</div>
