<div class="shops-container" [@simpleFadeAnimation]>
  <enigma-tools-bar-component>
  </enigma-tools-bar-component>

  <div class="shops-list">
    <enigma-shop-item-component *ngFor="let shop of shops"
                             (click)="onSelectShop(shop)"
                                (removeShop)="onRemoveShop($event)"
                             [shop]="shop">
    </enigma-shop-item-component>
  </div>

  <enigma-no-data-available-component *ngIf="!shops || shops.length === 0">
  </enigma-no-data-available-component>

  <div class="floating-action" *ngIf="user.role === 'admin'">
    <enigma-floating-button (trigger)="onAddShop()">
      <i class="fas fa-plus"></i>
    </enigma-floating-button>
  </div>
</div>


<ng-template enigmaSideBar>
</ng-template>
