.shops-container {
  height: 100%;
}

.shops-list {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.floating-action {
  position: absolute;
  top: 15px;
  right: 15px;
}
