body {
  --primary-color: #31cf3b;
  --white-background-text: #737b93;
  --white-background-clickable-text: #00cf2d;
  --primary-button-color: #4acf1e;

  /* BACKGROUND */
  --main-bg-color: #f1f1f1;
  --splash-screen-bg-color: #95cf84;
}
