/* SHADOW ANIMATE */
.shadow-animate {
  transition: box-shadow 0.3s ease-in-out;
}

/* Transition to a bigger shadow on hover */
.shadow-animate:hover {
  box-shadow: 0 5px 15px rgba(179, 179, 179, 0.3);
}

.cursor-pointer:hover {
  cursor: pointer;
}

.clickable-text:hover {
  cursor: pointer;
  text-decoration: underline;
  color: var(--white-background-clickable-text);
}


/* ANIMATION DURARTION */
.enigma-animation.animated {
  animation-duration: .08s;
}

/* INPUT PLACEHOLDER */
input::placeholder {
  color: #737b93;
}

input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #737b93;
}

input::-moz-placeholder { /* Firefox 19+ */
  color: #737b93;
}

input:-moz-placeholder { /* Firefox 18- */
  color: #737b93;
}


body .ui-chkbox .ui-chkbox-box.ui-state-active {
  background-color: #3f99a3 !important;
}

.ui-contextmenu .ui-menuitem-icon {
  width: 25px;
  text-align: center;
}
