.enigam-side-bar {
  z-index: 2001 !important;
  padding: 0 !important;
  border: 0 !important;
}

.ui-sidebar-mask {
  opacity: 0;
  z-index: 2000 !important;
}

.sidemenu-side-bar {
  width: 120px !important;
}

.operational-sidebar {
  padding: 0 !important;
  z-index: 2005 !important;
  height: calc(100% - 81px) !important;
  margin-top: 81px;
  opacity: 1 !important;
}

.sidebar-gallery.ui-sidebar-right {
  width: 35em;
}

.sidebar-gallery enigma-file-component {
  position: relative;
}

.sidebar-gallery enigma-file-component .ui-contextmenu {
  left: 25px !important;
  top: 25px !important;
}
