<p-sidebar [(visible)]="displaySidebar"
           position="right"
           [dismissible]="true"
           (onHide)="onClose()"
           styleClass="operational-sidebar">
  <div class="sidebar-header">
    Account Settings
  </div>

  <div class="side-bar-container">

    <!-- User-Avatar -->
    <div class="sidebar-body">
      <div class="root-image-container">
        <div class="root-image-cropper">
          <img src="../../../../assets/images/default-image.png" alt="Root image">
          <div class="change-image-button" (click)="changeImage()">
            Change Image
          </div>
        </div>
      </div>
    </div>


  </div>
</p-sidebar>
