.sidebar-header {
  background-image: url("../../../../assets/images/sidebar-header/sidebar-header.png");
  text-align: center;
  padding: 15px 10px;
  color: white;
  margin: -5px;
}

.side-bar-container {
  height: calc(100% - 47px);
  margin-top: 5px;
}

.sidebar-body {
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  text-align: center;
}

.root-image-cropper {
  position: relative;
  width: fit-content;
  margin: 25px auto 0;
  border-radius: 50%;
  overflow: hidden;
}

.root-image-container img {
  width: 150px;
}

.change-image-button {
  position: absolute;
  width: 100%;
  height: 35%;
  bottom: 0;
  background-color: #53535357;
  color: white;
  align-items: center;
  justify-content: center;
  display: none;
  cursor: pointer;
}

.root-image-cropper:hover .change-image-button {
  display: flex;
}
