<p-sidebar [(visible)]="displaySidebar"
           position="right"
           [dismissible]="true"
           (onHide)="onClose()"
           styleClass="operational-sidebar">

  <div class="sidebar-header">
    Screen Shots
  </div>

  <div class="side-bar-container">

    <div class="images-container">
      <div class="img-container" *ngFor="let screenShot of screenShots; let i = index" (click)="openImage(i)">
        <img [src]="screenShot.imgSrc">
        <i class="far fa-times-circle close-icon" (click)="removeScreenShot($event, i)"></i>
      </div>
    </div>

    <enigma-no-data-available-component *ngIf="screenShots && screenShots.length === 0">
    </enigma-no-data-available-component>
  </div>
</p-sidebar>

<ng-template enigmaSideBar>
</ng-template>
