.sidebar-header {
  background-image: url("../../../assets/images/sidebar-header/sidebar-header.png");
  text-align: center;
  padding: 15px 10px;
  color: white;
  margin: -5px;
}

.side-bar-container {
  height: calc(100% - 47px);
  margin-top: 5px;
  overflow: auto;
}

.images-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 130px;
  justify-items: center;
  align-items: center;
}

.img-container {
  height: 100px;
  width: 100px;
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 1px 1px 5px grey;
  position: relative;
  cursor: pointer;
}

.img-container img {
  height: 100%;
}

.close-icon {
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 1.2em;
  color: white;
  display: none;
  cursor: pointer;
}

.img-container:hover .close-icon {
  display: block;
}
