.users-container {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  margin: 20px;
}

.user-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
  margin: 5px 10px;
  transition: .5s;
  cursor: pointer;
  position: relative;
}

.img-container {
  border-radius: 50%;
  overflow: hidden;
  height: 150px;
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}

img {
  width: 100%;
}

.user-container:hover {
  box-shadow: 1px 1px 10px lightgray;
  background-color: white;
}

.left-action {
  opacity: 0;
  position: absolute;
  top: 10px;
  left: 10px;
  transition: opacity .5s;
  padding: 0 5px;
  border: 1px solid transparent;
}

.right-action {
  opacity: 0;
  position: absolute;
  top: 10px;
  right: 10px;
  transition: opacity .5s;
  padding: 0 5px;
  border: 1px solid transparent;
}

.user-container:hover .left-action,
.user-container:hover .right-action {
  opacity: 1;
}

.left-action:hover, .right-action:hover {
  border: 1px solid #5d7aff;
  border-radius: 50%;
}

.floating-action {
  position: absolute;
  top: 15px;
  right: 15px;
}
