<div class="shop-owners-container">
  <enigma-tools-bar-component>
  </enigma-tools-bar-component>


  <enigma-no-data-available-component *ngIf="!owners || owners.length === 0">
  </enigma-no-data-available-component>

  <div class="users-container">
    <div class="user-container" *ngFor="let user of owners">
      <div class="img-container">
        <img [src]="user.imgURL" width="100">
      </div>
      <div class="name-container">
        {{user.name}}
      </div>
      <div class="left-action" (click)="removeUser(user)">
        <i class="fas fa-trash-alt"></i>
      </div>
<!--      <div class="right-action">-->
<!--        <i class="fas fa-pen"></i>-->
<!--      </div>-->
    </div>
  </div>
  <div class="floating-action" *ngIf="user.role === 'admin'">
    <enigma-floating-button (trigger)="onAddOwner()">
      <i class="fas fa-plus"></i>
    </enigma-floating-button>
  </div>
</div>

<ng-template enigmaSideBar>
</ng-template>
