form {
  margin: 20px 0;
}

.contains-alert .alert {
  margin: 0;
}

.contains-alert form {
  margin: 0 0 20px;
}

.form-title {
  font-size: 1.5em;
  color: var(--white-background-text);
  font-family: LucidaGrande;
  font-weight: bold;
}

.login-secondary-actions {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  font-size: .8em;
}

.remember-me {
  color: var(--white-background-text);
}

.forget-password {
  color: var(--white-background-clickable-text);
}

.login-primary-actions {
  width: 160px;
  height: 40px;
  margin: 0 auto;
}
