<div class="enigma-animation animated fadeIn" [@simpleFadeAnimation]="'in'" [ngClass]="{'contains-alert': showAlertMessage}">
  <div class="form-title">
    {{"AUTH.SIGN_IN" | translate}}
  </div>

  <div *ngIf="showAlertMessage">
    <div class="alert alert-danger enigma-animation animated fadeIn" role="alert">
      {{alertMessage}}
    </div>
  </div>

  <form *ngIf="loginForm" [formGroup]="loginForm">
    <enigma-classic-input-component label="AUTH.EMAIL"
                                    type="text"
                                    (enter)="onSignIn()"
                                    [control]="loginForm?.controls['username']">
    </enigma-classic-input-component>
    <enigma-classic-input-component label="AUTH.PASSWORD"
                                    type="password"
                                    (enter)="onSignIn()"
                                    [control]="loginForm?.controls['password']">
    </enigma-classic-input-component>

    <div class="login-secondary-actions">
      <div class="remember-me">
        <p-checkbox formControlName="rememberMe"
                    styleClass="enigma-checkbox"
                    binary="true" label="{{'AUTH.REMEMBER_ME' | translate}}"></p-checkbox>
      </div>

      <div class="forget-password clickable-text">
      <span (click)="openForgotPassword()">
        {{"AUTH.FORGET_PASSWORD" | translate}}
      </span>
      </div>
    </div>

    <div class="login-primary-actions">
      <enigma-action-button-component
        label="ACTIONS.SIGN_IN"
        (trigger)="onSignIn()"
        [isLoading]="isLoading"
        [isDisabled]="!loginForm.valid"
        type="primary">
      </enigma-action-button-component>
    </div>

  </form>
</div>
