<div class="toolbar-container">
  <div class="toolbar-content-container">
    <div class="bread-crumbs-container">
      <div class="bread-crumb" [ngClass]="{'first-crumb': i === 0}"
           *ngFor="let breadCrumb of getBreadCrumbs(); let i = index; let last = last"
           (click)="navigateTo(breadCrumb)">
        <span class="bread-crumb-label">
          {{breadCrumb.label}}
        </span>
        <span class="bread-crumb-splitter" *ngIf="i !== getBreadCrumbs().length - 1">
          /
        </span>
      </div>
    </div>
    <div class="actions">
      <div class="search-container">
        <enigma-search-bar-component>
        </enigma-search-bar-component>
      </div>
    </div>
  </div>
</div>
