.toolbar-container {
  margin: -15px -15px 0 -15px;
  padding: 5px 15px;
  background-color: white;
  border-bottom: 1px solid gainsboro;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.actions {
  display: flex;
  align-items: center;
  justify-content: center;
}

.bread-crumbs-container {
  display: flex;
  align-items: center;
  padding-left: 10px;
}

.bread-crumb, .bread-crumb-label {
  display: inline-block;
  color: #737b93;
}

.bread-crumb-label:hover {
  cursor: pointer;
  text-decoration: underline;
}

.bread-crumb-splitter {
  margin: 3px;
  display: inline-block;
}

.first-crumb {
  font-size: 20px;
  font-weight: bold;
}

.toolbar-content-container {
  width: 93%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
