.search-container {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #d8d8d8;
  border-radius: 5px;
  background-color: #f6f7f9;
  margin: 0 15px;
}

.search-icon-container {
  padding: 2px 10px;
  border-right: 1px solid #d8d8d8;
  background-color: white;
  border-radius: 5px 0 0 5px;
}

.search-field-container {
  padding: 2px 10px;
}

.search-icon-container img {
  width: 18px;
}

input {
  background: transparent;
  border: none;
  color: #8e949f;
  min-width: 230px;
}
