<div class="search-container">
  <div class="search-icon-container">
    <img src="../../../../assets/icons/search-icon.png">
  </div>
  <div class="search-field-container">
    <input type="text" placeholder="Search...">
  </div>
</div>
