.card-container {
  font-family: 'IBM Plex Sans', sans-serif;
  width: 300px;
  height: 450px;
  background-size: cover;
  margin: 15px;
  border-radius: 10px;
  filter: blur(.1px);
  display: flex;
  box-shadow: 4px 4px 7px #0000007d;
}

.card-container-background-color {
  background: linear-gradient(to top, #00000099, #ffffff00 40%);
  width: 100%;
  border-radius: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: .1s;
}

.card-container-background-color:hover {
  background: linear-gradient(to top, #00000099 40%, #ffffff00);
}

.card-content {
  position: relative;
  padding: 20px;
  font-size: 2em;
  color: white;
  width: calc(100% - 15px);
  height: calc(100% - 15px);
  border: 1px solid;
  transition: .1s;
  cursor: pointer;
}

.card-content:hover {
  width: 100%;
  height: 100%;
  border-radius: 15px;
}

.shop-title {
  position: absolute;
  font-family: 'IBM Plex Sans', sans-serif;
  bottom: 30px;
  left: 20px;
  transition: .1s;
}

.card-content:hover .shop-title {
  font-size: 1.2em;
  bottom: calc(50% - 20px);
  left: calc(50% - 56px);
}

.card-container:hover .remove-action {
  display: block;
}

.remove-action {
  display: none;
  position: absolute;
  top: 15px;
  left: 15px;
  color: #00000085;
  cursor: pointer;
}
