<div class="card-container" [ngStyle]="{'background-image': 'url(' + shop.backgroundImage + ')' }">
  <div class="card-container-background-color">
    <div class="card-content">
      <div class="shop-title">
        {{shop.name}}
      </div>
    </div>
  </div>
  <div class="remove-action" *ngIf="user?.role === 'admin'|| canDispolayRemove()" (click)="removeShop.emit({ev: $event, shop: shop})">
    <i class="fas fa-trash-alt"></i>
  </div>
</div>
