<div class="profile-container">
  <enigma-tools-bar-component>
  </enigma-tools-bar-component>


  <div class="content-profile-page">
    <div class="profile-user-page card">
      <div class="img-user-profile">
        <img class="profile-bgHome" src="https://37.media.tumblr.com/88cbce9265c55a70a753beb0d6ecc2cd/tumblr_n8gxzn78qH1st5lhmo1_1280.jpg" />
        <img class="avatar" [src]="user?.imgURL || user.avatar" alt="jofpin"/>
      </div>
      <div class="user-profile-data">
        <h1>{{user?.name}}</h1>
        <p>{{user?.email}}</p>
      </div>
      <div class="description-profile">
        {{user?.role}}
      </div>
      <ul class="data-user">
        <li><a><strong>{{screenShotsCount}}</strong><span>Screen shots</span></a></li>
        <li><a><strong>{{basketSize}}</strong><span>Basket Items</span></a></li>
      </ul>
    </div>
  </div>
</div>
