.input-wrapper {
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: flex-start;
  flex-flow: column;
  padding: 15px 0;
}

.input-label {
  width: 70%;
  margin: 0 auto;
  text-align: start;
  color: var(--white-background-text);
  font-size: 1.1em;
}

.input-field {
  width: 100%;
}

input {
  width: 70%;
  min-height: 35px;
  border-radius: 5px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  border: 1px solid #d6d6d6;
  padding: 0 10px;
}
