
<div class="input-wrapper">
  <div class="input-label">
    {{label | translate}}
  </div>
  <div class="input-field">
    <input pInputText [type]="type" (keypress)="onKeypress($event.keyCode)"
           [formControl]="formControl">
  </div>
</div>
