<div class="header-container">
  <div class="menu-icon-container cursor-pointer shadow-animate" (click)="onToggleMenu()">
    <i class="fas fa-bars"></i>
  </div>

  <div class="header-content">
    <!--<div class="app-logo">-->
      <!--<img src="../../../assets/logo/enigma-logo.svg">-->
    <!--</div>-->

    <div class="header-title">
      glasses
    </div>

    <div class="header-actions">
      <div class="screen-action screen-shots"
           (click)="onToggle('screenShots')"
           [ngClass]="{'animated heartBeat': isAtentionToScreenshotActive}">
        <div class="screen-count">
          {{screenshots.length}}
        </div>
        <i class="fas fa-images"></i>
      </div>

      <div class="basket-action basket-container"
           (click)="onToggle('basket')"
           [ngClass]="{'animated heartBeat': isAtentionToBasketActive}">
        <div class="basket-count" >
          {{basketProducts.length}}
        </div>
        <i class="fas fa-shopping-basket"></i>
      </div>
      <div class="settings-action" (click)="logout()">
        <i class="fas fa-sign-out-alt"></i>
      </div>
      <div class="user-logo-action">
        <img [src]="user ? user.imgURL || user.avatar : 'https://image.flaticon.com/icons/png/512/236/236832.png'">
      </div>
    </div>
  </div>
</div>
