.header-container {
  position: fixed;
  z-index: 1000;
  width: 100vw;
  display: flex;
  align-items: flex-start;
  border-bottom: 1px solid gainsboro;
  box-shadow: 0 2px 11px 0 rgba(0, 0, 0, 0.1);
}

.menu-icon-container {
  box-shadow: 0 2px 11px 0 rgba(0, 0, 0, 0.1);
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4em;
  border-right: 1px solid gainsboro;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: calc(100vw - 40px);
}

.app-logo {
  height: 40px;
  margin: 0 15px;
  padding: 5px 0;
}

.menu-icon-container {
  color: gray;
}

.app-logo img {
  height: 100%;
}

.header-actions {
  display: flex;
  align-items: center;
  justify-content: center;
}

.settings-action {
  color: #a7b1c1;
}

.header-actions [class*=-action] {
  font-size: 1.4em;
  color: gray;
  padding: 0 10px;
  cursor: pointer;
}

.header-actions img {
  width: 25px;
}

.messages-action img {
  width: 25px;
  margin-bottom: 3px;
}

.user-logo-action {
  border-radius: 50%;
  overflow: hidden;
  height: 35px;
}

.user-logo-action img {
  width: 30px;
  margin-bottom: 5px;
}

.header-title {
  padding: 0 24px;
  font-size: 1.2em;
  color: #474646;
  font-weight: 300;
}


.basket-container, .screen-shots {
  color: #29364a;
  font-size: 1.7em;
  position: relative;
}

.basket-count, .screen-count {
  position: absolute;
  background-color: #ff4141;
  border-radius: 50%;
  font-size: .6em;
  padding: 0 4px;
  color: white;
  top: 0;
  right: 0;
}

.activeBasket {
  animation: waggle 1s 3s forwards ease-out;
}

.activeScrenShot {
  animation: waggle 1s 3s forwards ease-out;
}

@keyframes waggle {
  0% {
    transform: none;
  }
  50% {
    transform: rotateZ(-20deg) scale(1.2);
  }
  60% {
    transform: rotateZ(25deg) scale(1.2);
  }
  67.5% {
    transform: rotateZ(-15deg) scale(1.2);
  }
  75% {
    transform: rotateZ(15deg) scale(1.2);
  }
  82.5% {
    transform: rotateZ(-12deg) scale(1.2);
  }
  85% {
    transform: rotateZ(0) scale(1.2);
  }
  100% {
    transform: rotateZ(0) scale(1);
  }
}
