/* You can add global styles to this file, and also import other style files */
@import "./app/shared/styles/splash-screen.css";
@import "./app/shared/styles/shared-styles.css";
@import "./app/shared/styles/colors.css";
@import "./app/shared/styles/language-style.css";

/* PrimeNG override */
@import './app/shared/styles/side-bar.css';
@import './app/shared/styles/primng-override.css';
@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);
@import url(https://fonts.googleapis.com/css?family=Quicksand:300,400|Lato:400,300|Coda|Open+Sans);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

*:focus {
  outline: none;
}

body {
  overflow: hidden;
  position: relative;
}
