<div class="{{type}} button-wrapper"
     [ngClass]="{'loading': isLoading, 'disabled': isDisabled}"
     (click)="onTriggerAction()">

  <div class="button-content">
    <label *ngIf="!isLoading; else spinner">
      {{label | translate}}
    </label>
    <ng-template #spinner>
      <i class="fas fa-spinner fa-spin"></i>
    </ng-template>
  </div>

</div>
