.button-wrapper {
  color: #fff;
  padding: 5px;
  text-align: center;
  margin: 35px 15px;
  width: calc(100% - 30px);
  border-radius: 5px;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.1);
}

.primary {
   background-color: var(--primary-button-color);
 }

.button-wrapper:hover:not(.loading) {
  opacity: .75;
  cursor: pointer;
}

.button-content label:hover:not(.loading) {
  cursor: pointer;
}

.loading:hover {
  cursor: progress;
}

.button-wrapper.disabled {
  opacity: .7;
}

.button-wrapper.disabled:hover, .button-wrapper.disabled label:hover {
  cursor: not-allowed;
}

label {
  margin: 0;
}
