.app-container {
  margin-top: 41px;
}

.app-display {
  background-color: var(--main-bg-color);
  -webkit-margin-start: 40px;
  -moz-margin-start: 40px;
  padding: 15px 15px 0;
  overflow: auto;
  transition: margin .08s;
  height: calc(100vh - 41px);
  position: relative;
}

.expandedMenu {
  -webkit-margin-start: 200px;
  -moz-margin-start: 200px;
}

.header-container {
  margin: 0;
}

@media (max-width: 768px) {
  .app-display {
    -webkit-margin-start: 0;
    -moz-margin-start: 0;
  }
}
