<p-sidebar [(visible)]="displaySideMenu" styleClass="enigma-side-bar sidemenu-side-bar">
  <enigma-side-menu-component>
  </enigma-side-menu-component>
</p-sidebar>

<div class="row header-container" [@simpleFadeAnimation]="'in'">
  <enigma-header-component (toggle)="onHeaderAction($event)">
  </enigma-header-component>
</div>

<div class="app-container">
  <div class="hidden-sm-down app-side-menu">
    <enigma-side-menu-component [expandMenu]="isMenuExpanded">
    </enigma-side-menu-component>
  </div>

  <div class="app-display" [ngClass]="{'expandedMenu': isMenuExpanded}">
    <router-outlet>
    </router-outlet>
  </div>
</div>

<ng-template enigmaSideBar>
</ng-template>


<p-toast></p-toast>
