.nav-side-menu {
  overflow: hidden;
  position: fixed;
  width: inherit;
  height: calc(100% - 40px);
  text-align: center;
  background-image: linear-gradient(195deg, #2d3a4a	, #757b87);
  font-size: 16px;
  font-weight: 300;
  box-shadow: 0 1px 30px 0 rgba(0, 0, 0, 0.05);
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}

.nav-side-menu ul,
.nav-side-menu li {
  list-style: none;
  padding: 0;
  margin: 0;
  line-height: 34px;
  cursor: pointer;
}

.nav-side-menu ul li.active {
  background-color: #4c5d7a !important;
}

.nav-side-menu ul li.active a i {
  color: white !important;
}

.nav-side-menu ul li.active a {
  color: white !important;
}

.nav-side-menu ul li:hover {
  background-color: #325181 !important;
}

.nav-side-menu li {
  color: #a7b1c1;
  position: relative;
}

.nav-side-menu li a {
  text-decoration: none;
}

.menu-content {
  font-weight: 600;
}

.side-icon {
  font-size: 1.2em;
}

.tab-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row;
  width: 40px;
  height: 40px;
  transition: width .08s;
}

.tab-label {
  margin: 0 10px;
  width: 0;
  transition: width .08s;
}

.expandedMenu .tab-content {
  width: 200px;
}

.expandedMenu .tab-label {
  min-width: 100px;
}

.powered-by-container {
  position: absolute;
  bottom: 0;
  opacity: 0;
  display: none;
}

.expandedMenu .powered-by-container {
  text-align: center;
  display: block;
  width: 200px;
  font-size: 13px;
  color: #ffffff;
  margin-bottom: 10px;
}

.expandedMenu .powered-by-container span {
  opacity: 0.5;
}

.active-indicator {
  position: absolute;
  right: 0;
  top: 0;
  height: 40px;
  width: 5px;
  box-shadow: 0 2px 10px 0 rgba(33, 255, 255, 0.91);
  background-color: #21ffff;
  opacity: 0;
  transition: opacity .08s;
}

li.active .active-indicator {
  opacity: 1;
}

@media (max-width: 768px) {
  .nav-side-menu {
    height: 100vh;
  }
}
