<div class="nav-side-menu" [ngClass]="{'expandedMenu': isMenuExpanded}">

  <div class="menu-list">
    <ul class="menu-content">
      <li *ngFor="let menuItem of menuItems" routerLinkActive="active" [routerLink]="[menuItem.routerLink]">
        <a class="tab-content">
          <i class="{{menuItem.icon}} side-icon"></i>
          <span *ngIf="isMenuExpanded" class="animated enigma-animation fadeIn tab-label">
            {{menuItem.label | translate}}
          </span>
        </a>
        <div class="active-indicator">
        </div>
      </li>
    </ul>
  </div>

  <div class="powered-by-container animated enigma-animation fadeIn">
    <span>
      <!--Powered by <strong>OlivesLamp</strong>-->
    </span>
  </div>
</div>
