<div class="users-list-container">
  <p-table [columns]="columns" [value]="users">
    <ng-template pTemplate="header" let-columns>
      <tr class="header-container">
        <th class="checkbox-container">
          <p-checkbox></p-checkbox>
        </th>
        <th *ngFor="let col of columns"
            class="column-header">
          {{col.header}}
        </th>
      </tr>
      <tr class="filter-container">
        <th class="search-icon">
          <i class="fas fa-search"></i>
        </th>
        <th *ngFor="let col of columns"
            class="header-filter-container">
          <input type="text">
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
      <tr>
        <td>
          <p-checkbox></p-checkbox>
        </td>
        <td *ngFor="let col of columns">
          {{rowData[col.field]}}
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
