.checkbox-container {
  width: 40px;
}

td, th {
  border-color: #efefef !important;
}

.header-container th {
  background-color: #f6f7f9 !important;
  color: #737b93;
  font-weight: normal;
}

td, th {
  background-color: white !important;
}

.header-container th , .filter-container th {
  border-top: none !important;
  border-bottom: none !important;
}

.filter-container input {
  border: 1px solid #cecece;
  width: 100%;
  height: 25px;
  border-radius: 5px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  padding: 5px;
}

.search-icon i {
  color: #a7b1c1;
}

td {
  color: #737b93;
}
